@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, main {
    width: 100vw;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
}

section {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid black;

}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}